<head>
    <meta http-equiv="Content-Language" content="en_US" />
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <meta name="Description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:image" content="{{ site.share_image | absolute_url  }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Vision SDK" />
    <meta name="twitter:creator" content="Mapbox" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.share_image | absolute_url  }}" />
    <meta name="twitter:image:alt" content="Sustainable America" />

    <!-- Fav and Touch Icons -->
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4264FC">
    <meta name="msapplication-TileColor" content="#4264FC">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

    <!-- Fonts -->
    <script src="{{ '/assets/js/head.js' | prepend: site.baseurl }}"></script>

    <!-- Segment -->
    <script type="text/javascript">
        ! function() {
            var analytics = window.analytics = window.analytics || [];
            if (!analytics.initialize)
                if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
                else {
                    analytics.invoked = !0;
                    analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"];
                    analytics.factory = function(t) {
                        return function() {
                            var e = Array.prototype.slice.call(arguments);
                            e.unshift(t);
                            analytics.push(e);
                            return analytics
                        }
                    };
                    for (var t = 0; t < analytics.methods.length; t++) {
                        var e = analytics.methods[t];
                        analytics[e] = analytics.factory(e)
                    }
                    analytics.load = function(t, e) {
                        var n = document.createElement("script");
                        n.type = "text/javascript";
                        n.async = !0;
                        n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                        var a = document.getElementsByTagName("script")[0];
                        a.parentNode.insertBefore(n, a);
                        analytics._loadOptions = e
                    };
                    analytics.SNIPPET_VERSION = "4.1.0";
                    analytics.load("fl0c8p240n");
                    analytics.page();
                }
        }();
    </script>

    

    <!-- Marketo -->
    <script type="text/javascript">
        (function() {
            var didInit = false;

            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('117-NXK-490');
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function() {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>

</head>
